<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/project/static/style.css">
    <title>Login</title>
</head>
<body>
    <br>
    <h1 class="login-title">MusiQuiz</h1>

    <form action="" class="form">
        <!-- <h2 class="title">Login</h2> -->
        <input type="text" class="form-input" placeholder="Username" required>
        <input type="password" class="form-input" placeholder="Password" required>
        <button class="form-submit">Log In</button>
    </form>
    <h4 class="login-info">In this application you will be able to answer questions about the most streamed artists<br>and any of your favourite ones that have at least 4 albums.<br><br>All the data is taken from Spotify 
    </h4>
</body>
</html>