{% extends "layout.html" %}
{% block title %}Search Artist{% endblock %}
{% block content %}
    <h1 id="search-title" class="title" style="color:yellow; text-shadow: 2px 2px lightsalmon;">ArtistQuiz</h1>
    <form action="/artistQuiz" method="post" class="form">
        <input class="form-input search-input" type="text" name="search_artist" autocomplete="off" placeholder="Search for any artist" required>
        <br>
        <button type="submit" class="form-submit">Search</button>
    </form>
    <div class="search-info">
        Information provided by Spotify API
    </div>
{% endblock %}

{% block script %}
<script src="{{url_for('static', filename='script.js')}}"></script>
{% endblock %}