{% extends "layout.html" %}
{% block title %}Streams Quiz{% endblock %}
{% block content %}
    <h2 class="title" style="color: violet;
    text-shadow: 2px 1px 0px pink;">Artist Streams Quiz</h2>
    <h3 class="title" style="color: palegreen; text-shadow: 1px 2px lightseagreen;"><i>Select for each group the most streamed artist,<br> according to the Weekly and Monthly Spotify Charts</i></h3>
    
    <div class="search-info" style="color: violet">
        Information provided by kworb.net
    </div>

    <form action="/streamsQuiz" method="post">
        <div class="quiz-div">
            <span class="quiz-span">1</span>
            {% for album in trivia_dicts[0].options %}
            <div class="item">
                <input type="radio" value="{{ album[0] }}" name="radio1" id="{{ album[0] }}" required>
                <label for="{{ album[0] }}">{{ album[0] }}</label>
            </div>
            {% endfor %}
        </div>
    
        <div class="quiz-div">
            <span class="quiz-span">2</span>
            {% for album in trivia_dicts[1].options %}
            <div class="item">
                <input type="radio" value="{{ album[0] }}" name="radio2" id="{{ album[0] }}" required>
                <label for="{{ album[0] }}">{{ album[0] }}</label>
            </div>
            {% endfor %}
        </div>
    
        <div class="quiz-div">
            <span class="quiz-span">3</span>
            {% for album in trivia_dicts[2].options %}
            <div class="item">
                <input type="radio" value="{{ album[0] }}" name="radio3" id="{{ album[0] }}" required>
                <label for="{{ album[0] }}">{{ album[0] }}</label>
            </div>
            {% endfor %}
        </div>
    
        <div class="quiz-div">
            <span class="quiz-span">4</span>
            {% for album in trivia_dicts[3].options %}
            <div class="item">
                <input type="radio" value="{{ album[0] }}" name="radio4" id="{{ album[0] }}" required>
                <label for="{{ album[0] }}">{{ album[0] }}</label>
            </div>
            {% endfor %}
        </div>
        
        <div class="quiz-div">
            <span class="quiz-span">5</span>
            {% for album in trivia_dicts[4].options %}
            <div class="item">
                <input type="radio" value="{{ album[0] }}" name="radio5" id="{{ album[0] }}" required>
                <label for="{{ album[0] }}">{{ album[0] }}</label>
            </div>
            {% endfor %}
        </div>
        <button class="item-submit">Submit</button>
    </form>
    <br><br>

{% endblock %}